<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Edit This User</h2>
    <%= bootstrap_form_for @user, multipart: true do |u| %>
        <% @u = u %>
        <%= @u.text_field :display_name, label: 'Display Name' %>
        <%= @u.text_field :username, label: 'Username' %>
        <%= @u.text_field :email, label: 'Email' %>
        <%= @u.password_field :password %>
        <%= @u.password_field :password_confirmation %>
        <%= @u.submit :Submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

