<%= render layout: 'shared/margins' do %>
  <h4>ID: <%= @payment.id %></h4>
  <h4>UUID: <%= @payment.uuid %></h4>
  <h4>Gateway: <%= @payment.gateway %></h4>
  <h4>State: <%= @payment.state %></h4>
<% end %>